<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_name</key>
		<string>1.png</string>
		<key>title</key>
		<string>夫妻</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_2_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>2.png</string>
		<key>title</key>
		<string>古代</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_3_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>5.png</string>
		<key>title</key>
		<string>爱情</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_4_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>6.png</string>
		<key>title</key>
		<string>名人</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_18_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>7.png</string>
		<key>title</key>
		<string>恐怖</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_16_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>8.png</string>
		<key>title</key>
		<string>幽默</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_21_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>9.png</string>
		<key>title</key>
		<string>家庭</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_6_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>10.png</string>
		<key>title</key>
		<string>搞笑歌词</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_30_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>11.png</string>
		<key>title</key>
		<string>校园</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_17_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>13.png</string>
		<key>title</key>
		<string>名著爆笑</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_34_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>16.png</string>
		<key>title</key>
		<string>文艺</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_7_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>18.png</string>
		<key>title</key>
		<string>电脑</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_8_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>19.png</string>
		<key>title</key>
		<string>恋爱必读</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_33_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>20.png</string>
		<key>title</key>
		<string>求爱秘籍</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_32_1.html</string>
	</dict>
	<dict>
		<key>image_name</key>
		<string>19.png</string>
		<key>title</key>
		<string>爆笑男女</string>
		<key>titleUrl</key>
		<string>http://xiaohua.zol.com.cn/list_35_1.html</string>
	</dict>
</array>
</plist>
